.footer-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: var(--hint-yellow);
    padding: 2rem 2rem 0 0;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-left h3{
    font-size: 1.5rem;
    color: var(--gold-finger);
}
.footer-left p{
    font-size: 1rem;
    color: var(--main);
    max-width: 300px;
    font-weight: 700;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-right h3{
    font-size: 1.5rem;
    color: var(--gold-finger);
}
.footer-right ul li{
    list-style: none;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    color: var(--main);
    margin-right: 0.3rem;
    font-weight: 600;
}

 
@media screen and (max-width:1008) {
    
}


